.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .security-icon {
    font-size: 3rem;
    color: var(--ion-color-primary);
    margin-bottom: 20px;
  }
  
  form {
    width: 100%;
    max-width: 400px;
  }
  
  .login-button {
    margin-top: 20px;
  }